<h1>Login</h1>

<form action="<%= session_url %>" method="post">
  <%= auth_token %>
  <section>
    <label for="user-name">Username</label>
    <input type="text" id="user-name" name="user[user_name]">
  </section>
  <section>
    <label for="password">Password</label>
    <input type="password" id="password" name="user[password]">
  </section>
  <button>Login</button>
</form>

<footer>
  <% content_for :footer do %>
    <p>This is the login page.</p>
  <% end %>
</footer>
